<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-10">Oil and Lubs</div>
      <div class="col-md-2" align="end">
        @if (userType == '1') {
          <button class="btn btn-danger" (click)="openDailog()">+ Add Oil and Lubs</button>
        }
      </div>
    </div>
    @if (ispl.length > 0) {
      <app-table [rowData]="ispl" [tablePaginationSettings]="tablePaginationSettings"
        [enableCheckbox]="true" [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true"
        [sqColumnDefinition]="columns" (edit)="edit($event)" (delete)="delete($event)" (getFileId)="getFileId($event)" [tableMaxHeight]="'80vh'"
        >
      </app-table>
    }
  </mat-card-content>
</mat-card>
