<mat-card>
  <mat-card-content>
    <div class="row">
      <div class="col-md-8">Technical AO/AI</div>
      <div class="col-md-4" align="end">
        @if (userType == '1') {
          <button class="btn btn-danger" (click)="openDailog()">+ Add Technical Ao/Ai</button>
        }
      </div>
    </div>
    <!-- @if (!isOfficerLoggedIn) {
      <div class="pdf-container">
        <lib-ecr-token (isVarified)="isVarified($event)"></lib-ecr-token>
      </div>
    } -->
    @if (TechnicalAoAi.length > 0 && isOfficerLoggedIn) {
      <app-table [rowData]="TechnicalAoAi" [tablePaginationSettings]="tablePaginationSettings"
        [enableCheckbox]="true" [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true"
        [sqColumnDefinition]="columns" (edit)="edit($event)" (delete)="delete($event)" (getFileId)="getFileId($event)" [tableMaxHeight]="'83vh'"
        >
      </app-table>
    }
  </mat-card-content>
</mat-card>
