::ng-deep .mat-mdc-paginator-page-size .mat-mdc-select-trigger {
  display: flex !important;
  justify-content: center !important;
  text-align: center !important;
  width: 100%;
}

::ng-deep .mat-mdc-paginator-page-size .mat-mdc-select-value {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
}
