<mat-card>
  <mat-card-title>
    <div class="row">
      <div class="col-md-3">Drone List</div>
      <div class="col-md-7"></div>
      <div class="col-md-2" align="end">
        @if (userType == '1') {
          <button class="btn btn-danger" (click)="openDialog()">+ Add Drone Induction</button>
        }
      </div>
    </div>
     <div>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Drone Type</mat-label>
          <mat-select  panelClass="custom-dropdown" placeholder="Drone type" (selectionChange)="filterPolicy($event.value)">
            <mat-option [value]="null">All</mat-option>
            <mat-option [value]="'Standard'">Standard</mat-option>
            <mat-option [value]="'Induction'">Induction</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    @if (droneList.length > 0) {
      <app-table [rowData]="droneList" [tablePaginationSettings]="tablePaginationSettings"
        [enableCheckbox]="true" [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true" [tableMaxHeight]="'83vh'"
        (edit)="edit($event)" (delete)="del($event)" [sqColumnDefinition]="columns" (getFileId)="getFileId($event)"
        >
      </app-table>
    }
  </mat-card-content>
</mat-card>
